# Windows thumbnail files
*.db

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# manuscript comments
writing/comments/*

# Rmd log files
*.log

# ndvi rasters and data
data/ndvi-rasters/*
data/tapir-anna-ndvi-data.rds

# models
models/*

# personal earthdata credentials
earthdata-login-info.R

# Rmd cache and files
writing/*_cache
writing/*_files

# scripts for parallel jobs
analysis/alces-alces/parallel-scripts

# private telemetry data
data/equus-hemionus-hemionus

# diagnostic moving window figures
figures/alces_alces
figures/aepyceros-melampus
figures/tapirs

# khulan example
analysis/equus-hemonius-hemonius-4

# presentations (except for pdf format)
*.pptx

# files that are too large
*.rds
